/* reset */
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
/* font-family: 'Gochi Hand', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */
/* fonts */


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: cornsilk;
}

.container {
  height: 100vh;
  isolation: isolate;
  position: relative;

  background-image: url(./../images/bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s linear;
}

.container::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  background: white;
  opacity: 0.7;
}

.bloo {
  position: relative;
}

header {
  text-align: center;
  padding-top: 50px;
}

header h1 {
  font-family: 'Gochi Hand', cursive;
  font-weight: 400;
  font-size: 200px;
  color: #5F91FF;
  text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}

header p {
  font-family: 'Gochi Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #FB8500;
  margin-bottom: 40px;
  text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}


#bloo-main {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.false {
  display: none;
}

.active {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.bloo .up {
  z-index: 10;
  position: absolute;
  top: 75px;
  left: 96px;
  content: '';
  width: 110px;
  height: 70px;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, 0);
}

.bloo .mid {
  z-index: 10;
  position: absolute;
  top: 150px;
  left: 96px;
  content: '';
  width: 110px;
  height: 70px;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, 0);
}

.bloo .down {
  z-index: 10;
  position: absolute;
  top: 225px;
  left: 96px;
  content: '';
  width: 110px;
  height: 60px;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, 0);
}

.container .buttons {
  margin-top: 350px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.container .buttons button {
  font-family: 'Inter', sans-serif;
  border: none;
  background-color: #FB8500;
  box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  font-size: 20px;
  margin-right: 15px;
}

.container .buttons button:active {
  font-size: 18px;
}

.container .buttons .cool-bloo {
  width: 150px;
  height: 60px;
}

.container .buttons .cool-bloo:active {
  width: 140px;
  height: 50px;
}

.container .buttons .change-background {
  width: 250px;
  height: 60px;
}

.container .buttons .change-background:active {
  width: 240px;
  height: 50px;
}

.container .buttons .hats {
  width: 150px;
  height: 60px;
}

.container .buttons .hats:active {
  width: 140px;
  height: 50px;
}

.container .buttons .remove-hat {
  width: 160px;
  height: 60px;
}

.container .buttons .remove-hat:active {
  width: 150px;
  height: 50px;
}
